# Não era para existir
###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################
# beakerx (kernels: java, clojure, groovy, scala, kotlin, sql) and dependencies
beakerx
py4j
jupyterlab

# sos - script of scripts (multiple kernels)
# sos
# sos-notebook

#jupyter/jupyterlab extensions


# RISE

jupyter-server-proxy
jupyter-vscode-proxy


###############################################################
#                   Hadoop Processing                         #
###############################################################

mrjob
# google-api-python-client
psycopg2-binary


###############################################################
#          python packages             #
###############################################################

pprintpp
numpy
pandas
matplotlib
plotly








# jupyter/jupyterlab extensions
jupyterlab-rise
ipywidgets
jupyter_contrib_nbextensions

# lab-related packages
redis
sqlalchemy
ipython-sql
faker